<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calendar</title>
    <style>
<<<<<<< HEAD
        iframe{
            filter: invert(90);
            
=======
        iframe {
            filter: invert(90);
>>>>>>> 336f4b539384a128f6a00e71b1f66acffd2b834f
        }
    </style>
</head>

<body>
    <iframe
        src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FKolkata&src=c2RsNTM2OWtuaGlrNGRzNWs0dWcxY2dxcTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D50000"
        style="border:solid 1px #777" width="1340" height="630" frameborder="0" scrolling="no"></iframe>
</body>

</html>