<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert Website</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="img">
                <img src="/static/logo.jpg" alt="">
                <p class="animate__animated animate__backInLefts" id="logoname">The Rock prom</p>
            </div>
            <li><a href="/index"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li><a href="/eventcalender"><i class="fa fa-calendar" aria-hidden="true"></i>Events</a></li>
            <li><a href="/contact"><i class="fa fa-phone-square" aria-hidden="true"></i>Contact Us</a></li>
            <li><a href="/buyticket"><i class="fa fa-ticket" aria-hidden="true"></i>Buy Tickets</a></li>
        </ul>
    </nav>
    <div id="info">
        <p id="dt" class="animate__animated animate__fadeInBottomRight animate__faster">19th September 2022 , 7:00pm
            onwards</p>
        <p id="title" class="animate__animated animate__zoomInDown">Concert</p>
        <p id="venue" class="animate__animated animate__backInUp">Venue : Narendra Modi Stadium , Ahmedabad</p>
    </div>

    <div class="performer">
        <h1 class="animate__animated animate__fadeInTopLeft">Performer</h1>
    </div>
    <div id="Ap" class="animate__animated animate__backInLeft">
        <img src="/static/Ap dhillon.jpg" alt="">
    </div>
    <iframe style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/37i9dQZF1DZ06evO4029Pj?utm_source=generator&theme=0" width="100%"
        height="380" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <footer class="footer">
        <div class="footer_middle">
            <ul class="logo_of_social_media">
                <li class="img_of_social_media"><a href="https://twitter.com/therockprom" class="fa fa-twitter"></a></li>
                <li class="img_of_social_media"><a href="https://www.youtube.com/channel/UC_SLXTU8PvCAR29hTJ8kjyw"
                        class="fa fa-youtube"></a></li>
                <li class="img_of_social_media"><a href="https://www.instagram.com/therockprom_123/"
                        class="fa fa-instagram"></a></li>
            </ul>
        </div>
        <div class="footer_bottom">
            <p id="copyright_text">
                Copyright ©2022 | TheRockProm Inc. |All Rights Reserved by the Company. | Developed by Krishna Patel and
                Harsh Pandya.
            </p>
        </div>
    </footer>
</body>

</html>