<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert Website</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="img">
                <img src="/static/logo.jpg" alt="">
                <p class="animate__animated animate__backInLefts" id="logoname">The Rock prom</p>
            </div>
            <li><a href="/index.ejs"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>Events</a></li>
            <li><a href="/contact"><i class="fa fa-phone-square" aria-hidden="true"></i>Contact Us</a></li>
            <li><a href="#"><i class="fa fa-ticket" aria-hidden="true"></i>Buy Tickets</a></li>
        </ul>
    </nav>
    <div id="info">
        <p id="dt" class="animate__animated animate__fadeInBottomRight animate__faster">19th September 2022 , 7:00pm
            onwards</p>
        <p id="title" class="animate__animated animate__zoomInDown">Concert</p>
        <p id="venue" class="animate__animated animate__backInUp">Venue : Narendra Modi Stadium , Ahmedabad</p>
    </div>

    <div id="about_program">
        <div id="about_top">
            <h3 id="heading_of_about">
                About The Concert Program
            </h3>
            <div id="content_of_about">
                <p id="paragraph_of_about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi provident, qui ipsa rem perferendis
                    maxime doloribus beatae dolore necessitatibus praesentium, quia, molestias blanditiis iusto. Velit
                    repellat mollitia rem. Nesciunt, tenetur.
                    Quo natus, quisquam, minima nisi odio dolores quod, perspiciatis voluptate ea excepturi quaerat
                    porro quasi magni recusandae est accusantium culpa quidem quia repellat nulla voluptas
                    necessitatibus incidunt dolorem. Nam, itaque!
                    Totam, eos? Laboriosam sed accusantium labore, quis, earum repellat quae incidunt, voluptate aperiam
                    dignissimos recusandae? Minus exercitationem officia eum eaque, laudantium deleniti enim, natus
                    delectus obcaecati cum rem ipsam magni.
                    Sapiente maiores quibusdam recusandae ex cupiditate sit quidem iusto. Rem ad dolore quaerat nobis
                    atque aliquid, accusantium neque impedit possimus suscipit necessitatibus. Dolorem, est illum labore
                    vitae error autem quos.
                    Mollitia saepe nihil in minus hic non dolores molestias voluptas consectetur eveniet iste vel
                    soluta, culpa at? Eligendi officia esse nemo quidem harum accusantium blanditiis illo nobis sed
                    iusto! Quidem?
                </p>
            </div>
        </div>
    </div>

    <div class="performer">
        <h1 class="animate__animated animate__fadeInTopLeft">Performer</h1>
    </div>
    <div id="Ap" class="animate__animated animate__backInLeft">
        <img src="/static/Ap dhillon.jpg" alt="">
    </div>
    <iframe style="border-radius:12px"
        src="https://open.spotify.com/embed/track/6VBhH7CyP56BXjp8VsDFPZ?utm_source=generator" width="100%" height="380"
        frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <h3 id="date_in_footer">
                    19 September, 2022
                </h3>
                <h4 id="venue_in_footer">
                    Narendra Modi Stadium, Ahmedabad
                </h4>
                <p id="details_in_footer">
                    So what are you waiting for? Book your tickets now !!
                </p>
            </div>
        </div>
        <div class="footer_middle">
            <ul class="logo_of_social_media">
                <li class="img_of_social_media"><a href="#" class="fa fa-facebook"></a></li>
                <li class="img_of_social_media"><a href="#" class="fa fa-twitter"></a></li>
                <li class="img_of_social_media"><a href="#" class="fa fa-youtube"></a></li>
                <li class="img_of_social_media"><a href="#" class="fa fa-instagram"></a></li>
                <li class="img_of_social_media"><a href="#" class="fa fa-snapchat-ghost"></a></li>
                <li class="img_of_social_media"><a href="#" class="fa fa-pinterest"></a></li>

            </ul>
        </div>
        <div class="footer_bottom">
            <p id="copyright_text">
                Copyright ©2022 | TheRockProm Inc. |All Rights Reserved by the Company. | Developed by Krishna Patel and
                Harsh Pandya.
            </p>
        </div>
    </footer>
</body>

</html>